.MainNav {
    width: 100%;
    margin-top: 25px;
    text-align: center;
    font-family: 'Exo', sans-serif;
    font-weight: bold;
}

.MainNav ul {
    list-style: none;
    padding: 0px;
}

.MainNav li {
    display: inline-block;
    height: 25px;
    padding: 15px;
}

.MainNav a {
    position: relative;
    text-decoration: none;
    color: #123c69;
    transition: color .4s ease-out;
}

.MainNav a:hover {
    color: #ac3b61;
}

.MainNav a::after {
    border-top: .15em solid #BAB2B5;
    content: "";
    position: absolute;
    right: 100%;
    bottom: -.1em;
    left: 0;
    transition: right .4s cubic-bezier(0,0.5,0,1);
}

.MainNav a:hover::after {
    right: 0;  
}