@media(min-width: 501px) {
    .SideBar {
        width: 25%;
        max-width: 250px;
        min-height: 100vh;
        background-color: #206BA4;
        display: flex;
        align-items: center;
        font-size: 18px;
        font-family: 'Rokkitt', serif;
        float: left;
        left: 0;
        top: 0;
    }

    .SideBar ul {
        padding: 15px 0;
        width: 60%;
        margin: 0 auto;
    }

    .SideBar li {
        color: #BBD9EE;
        list-style: none;
        text-align: center;
        display: inline-block;
        padding: 15px 0px;
        width: 100%;
    }

    .SideBar a {
        position: relative;
        text-decoration: none;
        color: #EBF4FA;
        transition: color .4s ease-out;
    }

    .SideBar a:hover {
        color: #C0C0C0;
    }

    .SideBar a::after {
        border-top: .1em solid #BBD9EE;
        content: "";
        position: absolute;
        right: 100%;
        bottom: -.1em;
        left: 0;
        transition: right .4s cubic-bezier(0,0.5,0,1);
    }

    .SideBar a:hover::after {
        right: 0;   
    }
}