.ContactIcons {
    text-align: center;
    box-shadow: 3px 3px 5px 1px #EDC7B7;
    width: 40%;
    min-width: 250px;
    margin: 0 auto;
}

.ContactIcons svg {
    color: #AC3B61;
    font-size: 36px;
    margin: 15px;
}

.ContactForm input {
    display: block;
}