.FooterBar {
    height: 15px;
    font-size: 10px;
    text-align: right;
    background-color: #F1EFE2;
    color: #206BA4;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}